In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Read in all data and keep only allowed features

raw_data = pd.read_csv('./../data/decision_scheduling_merge_final_converted.csv', usecols=['adj_time_start', 'adj_time_stop'])

In [21]:
len(raw_data)

602500

In [25]:
raw_data.describe()

       adj_time_start  adj_time_stop
count   602500.000000  574871.000000
mean      1104.434651    1300.001835
std        229.521340     255.247197
min        800.000000     800.000000
25%        900.000000    1030.000000
50%       1030.000000    1200.000000
75%       1300.000000    1530.000000
max       1945.000000    2130.000000

In [28]:
raw_data = raw_data.loc[raw_data.notnull().all(axis=1),:]

In [29]:
raw_data.describe()

       adj_time_start  adj_time_stop
count   574871.000000  574871.000000
mean      1110.946167    1300.001835
std        229.152788     255.247197
min        800.000000     800.000000
25%        900.000000    1030.000000
50%       1030.000000    1200.000000
75%       1300.000000    1530.000000
max       1945.000000    2130.000000

In [30]:
raw_data['adj_time_stop'] = pd.to_datetime(raw_data['adj_time_stop'].astype(int), format='%H%M')

In [ ]:
raw_data['adj_time_start'] = pd.to_datetime(raw_data['adj_time_start'].astype(int), format='%H%M')

In [2]:
print 'Length of hearing:'
print (pd.to_datetime(raw_data['adj_time_stop'], format='%H%M', coerce=True) - pd.to_datetime(raw_data['adj_time_start'], format='%H%M', coerce=True)).value_counts()

Length of hearing:
Series([], dtype: int64)

In [ ]:
print 'Start times:'
print raw_data['adj_time_start'].value_counts()

print 'Stop times:'
print raw_data['adj_time_stop'].value_counts()